{% extends 'base.html' %}

{% block title %}DocMgr - 主页{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">文档管理系统</h2>
        <p class="card-text">这是您的文档管理主页。您可以在这里管理您的所有文档。</p>
        
        <div class="mt-4">
            <a href="{% url 'upload_document' %}" class="btn btn-success me-2">上传文档</a>
            <a href="{% url 'document_list' %}" class="btn btn-primary me-2">我的文档</a>
            <a href="{% url 'simple_document_list' %}" class="btn btn-info">简易文档列表</a>
        </div>
    </div>
</div>
{% endblock %} 